.main{
  height: 16rem;
  background-color: red;
}
.doorbox {
  position: relative;
  top:-10%;
  left:45%;
  width:15%;
  height: 2vh;
  background-color: black;
}

.garbage {
  position: relative;
  top:-22%;
  left:0%;
  font-size: 1.5rem;
}