.idchecktexthead {
    font-weight: bold;
    font-family: 'puradack';
    font-size:1.5rem;
}


.signupbtn3 {
    margin-top: 5rem;
    width:15.5rem;
    height:3rem;
    background: #1E232C;
    border-radius: 8px;
}

.signuptext {
    color:#ffffff;
}
