.idchecktexthead {
    font-weight: bold;
    font-family: 'puradack';
    font-size:1.5rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.closebtn {
    width:6.5rem;
    height:3rem;
    background: #4B72D6;
    border-radius: 15px;
}

.okbtn {
    width:6.5rem;
    height:3rem;
    background: #ED7B7B;
    border-radius: 15px;
}

.signuptext {
    color:#ffffff;
}

.pw {
    position: relative;
    left:-1rem;
    margin-top: 1rem;
}

.inputbox {
    width:110%;
}

.pwshowbutton1 {
    position: absolute;
    top: 0.5rem;
    right: -1rem;
}

.passwordchecktext {
    position: relative;
    font-size: 0.8rem;
    margin-left: -3rem;
    color:#ED7B7B;
}

.passwordchecktext2 {
    position: relative;
    top:-1rem;
    margin-top:1rem;
    font-size: 0.8rem;
    margin-left: -4rem;
    color:#ED7B7B;
    margin-bottom: -1rem;
}

.passwordmismatchchecktext {
    position: relative;
    top:0rem;
    font-size: 0.8rem;
    margin-left: -5rem;
    color:#ED7B7B;
}